{% extends "pages/base.html" %}
{% load i18n %}
{% block content %}
<section id="examples">
  <div class="container">
    <div class="row p-5">
      <div class="col-12">
        <ul class="nav nav-tabs mb-3" role="tablist">
          {% for example in page_list %}
            <li class="nav-item">
              <a class="nav-link{% if forloop.first %} active{% endif%}" id="ex{{ forloop.counter }}-tab" data-toggle="tab" href="#example{{ forloop.counter }}" role="tab" aria-controls="example{{ forloop.counter }}" aria-selected={% if forloop.first %}"true"{% else %}"false"{% endif %}>{% trans "Example" %} {{forloop.counter}}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          {% for example in page_list %}
            <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="example{{forloop.counter}}" role="tabpanel" aria-labelledby="ex{{forloop.counter}}-tab">
              {% if example.title %}
                <div class="row py-3 align-items-center justify-content-between">
                  <div class="col-auto">
                    <h1>{{example.title}}</h1>
                  </div>
                  {% if user.is_authenticated %}
                    <div class="col-auto text-right">
                      <form action="{% url "pages:duplicatepage" example.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="toggle" class="btn btn-success">{% trans "Start from this example" %}</button>
                      </form>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              {% with modules=example.get_all_modules_sorted %}
                {% for module in modules %}
                  {% include module.template %}
                {% endfor %}
              {% endwith %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
