html, body{
  height:100% !important;
}


#banner {
  background: linear-gradient( to right, rgba(62,68,74,0.9) , rgba(52,58,64,0.6)), url('../img/banner.jpg') 0% 0%/cover
}

.fill-60-viewport {
  min-height: 60vh
}

.fill-30-viewport
{
  min-height: 30vh
}
.text-grey {
  color: #555555;
}
.profile-img{
  max-width: 200px;
}
.text-white-70 {
  color: rgba(255,255,255,0.7)
}

.border-2{
  border-width: 2px !important;
}

.input-list-item input{
  vertical-align:middle;
}

label {
  font-weight: 700;
}

label .form-text{
  font-weight: normal;
}

.form-check-label{
  font-weight: normal;
}

.invalid-feedback{
  display: block;
}

.list-unstyled-wrapper > ul{
  padding-left: 0;
  list-style: none;
}

.list-nomargin-wrapper > ul{
  margin-bottom: 0;
}
