{% extends "pages/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<div class="container h-100 ">
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-11 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h1> {% trans "Enter your Email" %} </h1>
        </div>
        <div class="card-body">
          <form method="post">
            <div class="row">
                <div class="col-12">
                  <p>
                    {% blocktrans trimmed %}
                      All Infographics you create will be coupled to your email address.
                      We will only email you about things concerning your account and your infographics.
                      We will never give your email address to others.
                    {% endblocktrans %}
                  </p>
                </div>
              {% csrf_token %}
              <div class="form-group col-12">
                {{ form.email.label_tag }}
                {% if form.email.errors %}
                {{ form.email|add_class:"form-control form-control-lg is-invalid" }}
                <div class="invalid-feedback">
                  <ul class="list-unstyled">
                    {% for error in form.email.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                  </ul>
                </div>
                {% else %}
                {{ form.email|add_class:"form-control" }}
                {% endif %}
              </div>
              <div class="col-12 text-right">
                <button type="submit" class="btn btn-success"> {% trans "Submit" %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
