{% load static %}
{% load i18n %}
{% load pages_tags %}

<section class="communicationmethods-display">
  <div class="row my-2">
    <div class="col-12">
      <h2>{% trans "Communication" %}</h2>
    </div>
  </div>
  <div class="card-deck">
    {% for sub_module in module.communicationmethods_set.all %}
      <div class="card">
        <div class="card-header text-center">
          <h4 class="mt-2">{{ sub_module.situation }}</h4>
        </div>
        <div class="card-body">
          <div class="text-grey">
            <h5>{% trans "You can use" %}</h5>
            <ul>
              {% for item in sub_module.you_to_me_choices %}
                <li>{{ sub_module.METHODS|get_display_value:item }}</li>
              {% endfor %}
              {% for item in sub_module.you_to_me_free %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
          <img src="{% static "img/communication-dialogue-icon-3.png" %}" class="mx-auto d-block" style="width:50%; max-width:150px">
          <h5>{% trans "I will use" %}</h5>
          <ul>
            {% for item in sub_module.me_to_you_choices %}
              <li>{{ sub_module.METHODS|get_display_value:item }}</li>
            {% endfor %}
            {% for item in sub_module.me_to_you_free %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if module.suggestions_choices or module.suggestions_free %}
    <div class="card my-3">
      <div class="card-header text-center">
        <h4 class="mt-2">{% trans "communication suggestions" %}</h4>
      </div>
      <div class="card-body">
        <ul>
          {% for item in module.suggestions_choices %}
            <li>{{ module.SUGGESTIONS|get_display_value:item }}</li>
          {% endfor %}
          {% for item in module.suggestions_free %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
</section>
