
<section class="freelist-display">
  <div class="row my-2">
    <div class="col-12">
      <div class="card">
        {% if module.title %}
          <div class="card-header">
            <h4 class="mt-2">{{ module.title }}</h4>
          </div>
        {% endif %}
        {% if module.items %}
          <div class="card-body">
            <ul>
              {% for item in module.items %}
              <li>{{item}}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
  </div>
</section>
