{% load i18n %}

<section class="medication">
  <div class="row my-2">
    <div class="col-12">
      <h2>{{ module.title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-responsive-md">
        <thead>
          <tr>
            <th scope="col">{% trans "What" %}</th>
            <th scope="col">{% trans "When" %}</th>
            <th scope="col">{% trans "Quantity" %}</th>
            <th scope="col">{% trans "Remarks" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for med in module.medicationitem_set.all %}
            {% with num_intake=med.medicationintake_set.all|length %}
              {% for intake in med.medicationintake_set.all %}
                <tr>
                  {% if forloop.first %}
                    <td rowspan="{{num_intake}}">{{med.name}}</td>
                  {% endif %}
                  <td>{{ intake.time }}</td>
                  <td>{{ intake.quantity }}</td>
                  {% if forloop.first %}
                    <td rowspan="{{num_intake}}">{{ med.remarks|linebreaks }}</td>
                  {% endif %}
                </tr>
              {% empty %}
                <tr>
                  <td>{{med.name}}</td>
                  <td></td>
                  <td></td>
                  <td>{{ med.remarks|linebreaks }}</td>
                </tr>
              {% endfor %}
            {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
