{% extends "pages/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<section id="create-form" class="pb-5">
  <div class="container">
    <form action="" method="post">
      {% csrf_token %}
      <div class="row mt-4">
        {% if form.non_field_errors %}
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
            <ul class="list-unstyled my-0">
              {% for error in form.non_field_errors %}
              <li> {{ error|escape }} </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        <div class="col-12">
          <div class="form-group">
            <label for="{{form.title.auto_id}}" class="h4">
              {{ form.title.label }}
            </label>
            {% if form.title.errors %}
            {{ form.title|add_class:"form-control form-control-lg is-invalid" }}
            <div class="invalid-feedback">
              <ul class="list-unstyled">
                {% for error in form.title.errors %}
                <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
              </ul>
            </div>
            {% else %}
            {{ form.title|add_class:"form-control form-control-lg" }}
            {% endif %}
          </div>
        </div>
      </div>
      {% if modules %}
        <div class="row my-3 justify-content-center">
          <div class="col-12">
            <h4>{% trans "You allready have the following modules:" %} </h4>
          </div>
          <div class="col-11">
              {% for module in modules %}
                  {% if module.template %}
                    {% include module.template %}
                  {% else %}
                    <p>{{module}} </p>
                  {% endif %}
              {% endfor %}
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="{{form.module.auto_id}}" class="h4">
              {{ form.module.label }}
            </label>
            {% if form.module.errors %}
            {{ form.module|add_class:"form-control form-control-lg is-invalid" }}
            <div class="invalid-feedback">
              <ul class="list-unstyled">
                {% for error in form.module.errors %}
                <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
              </ul>
            </div>
            {% else %}
            {{ form.module|attr:"aria-describedby:module-help"|add_class:"form-control form-control-lg" }}
            <p id="module-help" class="form-text text-muted">
              {{ form.module.help_text }}
            </p>
            {% endif %}
          </div>
          <div class="text-right">
            <button type="submit" name="submit_module" class="btn btn-lg btn-primary"> {% trans "Create module" context "Button" %} </button>
            {% if modules %}
                <button type="submit" name="submit_next" class="btn btn-lg btn-success"> {%trans "Next step: Arrange modules" context "Button" %}</button>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock content %}
