{% extends "pages/base_createmodule.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block module_name %}
{% trans "General Information Module" %}
{% endblock %}
{% block module_form %}
  <div class="row">
    <div class="col-12 col-md-6">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        <ul class="list-unstyled my-0">
          {% for error in form.non_field_errors %}
          <li> {{ error|escape }} </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="form-group">
        <label for="{{form.name.auto_id}}">
          {{ form.name.label }}
        </label>
        {% if form.name.errors %}
        {{ form.name|add_class:"form-control is-invalid" }}
        <div class="invalid-feedback">
          <ul class="list-unstyled">
            {% for error in form.name.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        {{ form.name|add_class:"form-control" }}
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="{{form.identity.auto_id}}">
          {{ form.identity.label }}
        </label>
        {% if form.identity.errors %}
        {{ form.identity|add_class:"form-control is-invalid" }}
        <div class="invalid-feedback">
          <ul class="list-unstyled">
            {% for error in form.identity.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        {{ form.identity|add_class:"form-control" }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock module_form %}
