{% extends "pages/base_createmodule.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block module_name %}
{% trans "Free Picture Module" %}
{% endblock %}
{% block form_head %}
  <form action="" method="post" enctype="multipart/form-data">
{% endblock %}
{% block module_form %}
  <div class="row">
    <div class="col-12">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        <ul class="list-unstyled my-0">
          {% for error in form.non_field_errors %}
            <li> {{ error|escape }} </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="form-group">
        <label for="{{form.title.auto_id}}">
          {{ form.title.label }}
        </label>
        {% if form.title.errors %}
          {{ form.title|add_class:"form-control is-invalid" }}
          <div class="invalid-feedback">
            <ul class="list-unstyled">
              {% for error in form.title.errors %}
              <li><strong>{{ error|escape }}</strong></li>
              {% endfor %}
            </ul>
          </div>
        {% else %}
          {{ form.title|add_class:"form-control" }}
        {% endif %}
      </div>
    </div>
  </div>
  {{ picture_formset.management_form }}
  <div class="card p-3 my-3 bg-light">
    {% for form in picture_formset %}
      <fieldset id="id_modulepicture_set-{{forloop.counter0}}" class="row">
        <div class="col-12">
          <legend>Image {{forloop.counter}}:</legend>
        </div>
        <div class="col-12">
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            <ul class="list-unstyled my-0">
              {% for error in form.non_field_errors %}
              <li> {{ error|escape }} </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          <div class="form-group">
            <label for="{{form.title.auto_id}}">
              {{ form.title.label }}
            </label>
            {% if form.title.errors %}
              {{ form.title|add_class:"form-control is-invalid" }}
              <div class="invalid-feedback">
                <ul class="list-unstyled">
                  {% for error in form.title.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              {{ form.title|add_class:"form-control" }}
            {% endif %}
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="{{form.picture.auto_id}}">
              {{ form.picture.label }}
            </label>
            {% if form.picture.errors %}
              {{ form.picture|add_class:"form-control-file is-invalid" }}
              <div class="invalid-feedback">
                <ul class="list-unstyled">
                  {% for error in form.picture.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              {{ form.picture|add_class:"form-control-file" }}
            {% endif %}
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="{{form.description.auto_id}}">
              {{ form.description.label }}
            </label>
            {% if form.description.errors %}
              {{ form.description|add_class:"form-control is-invalid" }}
              <div class="invalid-feedback">
                <ul class="list-unstyled">
                  {% for error in form.description.errors %}
                  <li><strong>{{ error|escape }}</strong></li>
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              {{ form.description|add_class:"form-control" }}
            {% endif %}
          </div>
        </div>
      </fieldset>
    {% endfor %}
    <div class="row my-2">
      <div class="col text-right">
        <button type="button" id="id_modulepicture_set" onclick="add_formset(this)" class="btn btn-success">{% trans "Add another image" %}</button>
      </div>
    </div>
  </div>
{% endblock module_form %}
