{% extends "pages/base.html" %}
{% load widget_tweaks %}
{% load pages_tags %}
{% load i18n %}

{% block content %}
<section id="create-form" class="pb-5">
  <div class="container">
    {% for message in messages %}
      <div class="alert {% if 'error' in message.tags %}alert-danger
                        {% elif 'success' in message.tags %}alert-success
                        {% elif 'warning' in message.tags %}alert-warning
                        {% else %}alert-info{% endif %} my-3" role="alert">
        {% if 'safe' in message.tags %}
          {{ message|safe }}
        {% else %}
          {{ message }}
        {% endif %}
      </div>
    {% endfor %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="row mt-4">
        {% if form.non_field_errors %}
        <div class="col-12">
          <div class="alert alert-danger" role="alert">
            <ul class="list-unstyled my-0">
              {% for error in form.non_field_errors %}
              <li> {{ error|escape }} </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        <div class="col-12">
          <div class="form-group">
            <label for="{{form.title.auto_id}}" class="h4">
              {{ form.title.label }}
            </label>
            {% if form.title.errors %}
            {{ form.title|add_class:"form-control form-control-lg is-invalid" }}
            <div class="invalid-feedback">
              <ul class="list-unstyled">
                {% for error in form.title.errors %}
                <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
              </ul>
            </div>
            {% else %}
            {{ form.title|add_class:"form-control form-control-lg" }}
            {% endif %}
          </div>
        </div>
      </div>
      {% if modules %}
        <div class="row my-3">
          <div class="col-12">
            <h4>{% trans "You already have the following modules:" %} </h4>
          </div>
          <div class="col-12">
            <p class="mb-0">
              {% blocktrans trimmed %}
              We've listed them in the order you added them here. You can arrange them in the order you want in the next step.
              {% endblocktrans %}
            </p>
          </div>
          <div class="col-12">
            <div class="text-right">
              <a href="{% url "pages:pagepreview" object.id "creating"%}" class="btn btn-secondary"> {% trans "View preview" context "Button" %} </a>
            </div>
          </div>
        </div>
        <div class="row my-3" id="accordion" role="tablist">
          {% for module in modules %}
            <div class="col-12">
              <div class="card">
                <div class="card-header" role="tab" id="heading-{{forloop.counter}}">
                  <h5 class="mb-0">
                    <a class="collapsed"
                       data-toggle="collapse"
                       href="#module-preview-{{forloop.counter}}"
                       role="button"
                       aria-expanded="false"
                       aria-controls="module-preview-{{forloop.counter}}">
                      {{ module|verbose_name }}{% if module.title %}: {{ module.title }}{% endif %}
                    </a>
                  </h5>
                </div>
                <div id="module-preview-{{forloop.counter}}"
                     class="collapse" role="tabpanel"
                     aria-labelledby="heading-{{forloop.counter}}" data-parent="#accordion">
                  <div class="card-body">
                    {% include module.template %}
                  </div>
                </div>
                <div class="card-footer text-right">
                  <a href="{% url module.edit_url_name module.id %}" class="btn btn-success">{% trans "Edit" %}</a>
                  <a href="{% url module.delete_url_name module.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="row justify-content-between align-items-center">
          <div class="col-xs-12 col-sm">
            <p>
              {% blocktrans trimmed %}
              When you are finished adding information, you can arrange your modules in the order you want in the next step.
              {% endblocktrans %}
            </p>
          </div>
          <div class="col-xs-12 col-sm-auto">
            <div class="text-right">
              <button type="submit" name="submit_next" class="btn btn-lg btn-success"> {%trans "Next step: Arrange modules" context "Button" %}</button>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-check pl-0">
            <label for="{{form.module.auto_id}}" class="h4">
              {{ form.module.label }}
            </label>
            {% if form.module.errors %}
            <div class="invalid-feedback">
              <ul class="list-unstyled">
                {% for error in form.module.errors %}
                <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
              </ul>
            </div>
            {{ form.module|add_class:"is-invalid" }}
            {% else %}
            <p id="module-help" class="form-text text-muted">
              {{ form.module.help_text }}
            </p>
            {{ form.module|attr:"aria-describedby:module-help" }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-right">
            <button type="submit" name="submit_module" class="btn btn-lg btn-primary"> {% trans "Create module" context "Button" %} </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock content %}
{% block scripts %}
<script>
$('input[type=radio][name=module]').change(function() {
    $(".dyn-btn").addClass("d-none")
    $("#"+this.id+"_button").removeClass("d-none")

   });
</script>
{% endblock scripts %}
